---
- name: Add epel repository
  yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: https://download.fedoraproject.org/pub/epel/$releasever/$basearch/
  notify: yum-clean-metadata

- name: Add mssql repository
  yum_repository:
    name: packages-microsoft-com-mssql-server
    description: packages-microsoft-com-mssql-server
    baseurl: https://packages.microsoft.com/rhel/7/mssql-server/
    enabled: yes
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc
    gpgcheck: yes
  notify: yum-clean-metadata

- name: Ensure mssql installed
  yum: name=mssql-server state=present

- name: Ensure mssql agent installed
  yum: name=mssql-server-agent state=present

- name: Enable firewalld
  service: name=firewalld state=started enabled=yes
  when: testing is not defined

- name: Enable enable 1433 on firewall 
  firewalld:
    port: 1433/tcp
    permanent: true
    state: enabled
    zone: public
  notify: restart-firewalld
  when: testing is not defined

- name: Check if sql server is running
  shell: "systemctl status mssql-server  2>/dev/null"
  ignore_errors: True
  register: sqlserver_service

- name: Initial setup of sql server
  command: /opt/mssql/lib/mssql-conf/mssql-conf.py setup accept-eula
  when: sqlserver_service.stdout.find('running') == -1
 
- name: Start sql server
  service: name=mssql-server state=started enabled=yes
  when: sqlserver_service.stdout.find('running') == -1

